@font-face {
  font-family: "iconfont"; /* Project id 4922698 */
  src: url('iconfont.woff2') format('woff2'),
       url('iconfont.woff') format('woff'),
       url('iconfont.ttf') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 24px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-register:before {
  content: "\e6d6";
}

.icon-setting:before {
  content: "\e87e";
}

.icon-login:before {
  content: "\e657";
}

.icon-zuochuangkou:before {
  content: "\e80a";
}

.icon-dpi:before {
  content: "\e80b";
}

.icon-jiazai:before {
  content: "\e80c";
}

.icon-jiaocheng:before {
  content: "\e80d";
}

.icon-jietu:before {
  content: "\e80e";
}

.icon-wenzishibie:before {
  content: "\e80f";
}

.icon-shubiao:before {
  content: "\e810";
}

.icon-zhiding:before {
  content: "\e811";
}

.icon-jianshao1:before {
  content: "\e812";
}

.icon-zengjia1:before {
  content: "\e813";
}

.icon-shezhi:before {
  content: "\e814";
}

.icon-huitui:before {
  content: "\e815";
}

.icon-tulie:before {
  content: "\e816";
}

.icon-tupian:before {
  content: "\e817";
}

.icon-zhongduan:before {
  content: "\e818";
}

.icon-chongdian:before {
  content: "\e819";
}

.icon-zhanweifei:before {
  content: "\e81a";
}

.icon-tingche:before {
  content: "\e81b";
}

.icon-chongdianzhuang:before {
  content: "\e81c";
}

.icon-dianchi:before {
  content: "\e81d";
}

.icon-didianliang:before {
  content: "\e81e";
}

.icon-zhongdianliang:before {
  content: "\e81f";
}

.icon-gaodianliang:before {
  content: "\e820";
}

.icon-mandianliang:before {
  content: "\e821";
}

.icon-xiaoqiche:before {
  content: "\e822";
}

.icon-qiehuan:before {
  content: "\e823";
}

.icon-paixu:before {
  content: "\e824";
}

.icon-erweima:before {
  content: "\e825";
}

.icon-tiaoxingma:before {
  content: "\e826";
}

.icon-xiaochengxu:before {
  content: "\e827";
}

.icon-yasuowenjian:before {
  content: "\e828";
}

.icon-PDFwendang:before {
  content: "\e829";
}

.icon-PPT:before {
  content: "\e82a";
}

.icon-EXCEL:before {
  content: "\e82b";
}

.icon-WORD:before {
  content: "\e82c";
}

.icon-wenjianjiaguan:before {
  content: "\e82d";
}

.icon-wenjianjiakai:before {
  content: "\e82e";
}

.icon-diannao:before {
  content: "\e82f";
}

.icon-shouji:before {
  content: "\e830";
}

.icon-dianhuaka:before {
  content: "\e832";
}

.icon-pingban:before {
  content: "\e833";
}

.icon-Upan:before {
  content: "\e834";
}

.icon-bijibendiannao:before {
  content: "\e835";
}

.icon-fuwuqi:before {
  content: "\e836";
}

.icon-baocun:before {
  content: "\e837";
}

.icon-jiaohuan:before {
  content: "\e838";
}

.icon-sandiantu:before {
  content: "\e839";
}

.icon-a-zhexiantushangsheng:before {
  content: "\e83a";
}

.icon-zhexiantuxiajiang:before {
  content: "\e83b";
}

.icon-tiaoxingtuheng:before {
  content: "\e83c";
}

.icon-yalingtu:before {
  content: "\e83d";
}

.icon-shuju:before {
  content: "\e83e";
}

.icon-tiaoxingtushu:before {
  content: "\e83f";
}

.icon-zhuzhuangtu:before {
  content: "\e840";
}

.icon-bingzhuangtu:before {
  content: "\e841";
}

.icon-huanxingtu:before {
  content: "\e842";
}

.icon-leidatu:before {
  content: "\e843";
}

.icon-loudoutu:before {
  content: "\e844";
}

.icon-meiguitu:before {
  content: "\e845";
}

.icon-mianjitu:before {
  content: "\e846";
}

.icon-Kxiantu:before {
  content: "\e847";
}

.icon-sangjitu:before {
  content: "\e848";
}

.icon-shuibotu:before {
  content: "\e849";
}

.icon-shuzhuangtu:before {
  content: "\e84a";
}

.icon-zidantu:before {
  content: "\e84b";
}

.icon-yibiaopan:before {
  content: "\e84c";
}

.icon-youzhankai:before {
  content: "\e84d";
}

.icon-zuozhankai:before {
  content: "\e84e";
}

.icon-dianziyouxiang:before {
  content: "\e84f";
}

.icon-youjiandakai:before {
  content: "\e850";
}

.icon-tuozhuai:before {
  content: "\e851";
}

.icon-yinhangka:before {
  content: "\e852";
}

.icon-liushui:before {
  content: "\e853";
}

.icon-kaquan:before {
  content: "\e854";
}

.icon-gouwuche:before {
  content: "\e855";
}

.icon-yinhangkarenzheng:before {
  content: "\e856";
}

.icon-zhifu:before {
  content: "\e857";
}

.icon-kaipiao1:before {
  content: "\e858";
}

.icon-qianbao:before {
  content: "\e859";
}

.icon-fapiao:before {
  content: "\e85a";
}

.icon-pinglun:before {
  content: "\e85b";
}

.icon-qingtianbaitian:before {
  content: "\e85c";
}

.icon-qingtianwanshang:before {
  content: "\e85d";
}

.icon-duoyunbaitian:before {
  content: "\e85e";
}

.icon-duoyunwanshang:before {
  content: "\e85f";
}

.icon-dawubaitian:before {
  content: "\e860";
}

.icon-dawuwanshang:before {
  content: "\e861";
}

.icon-mai:before {
  content: "\e862";
}

.icon-zhongyu:before {
  content: "\e863";
}

.icon-dayu:before {
  content: "\e864";
}

.icon-baoyu:before {
  content: "\e865";
}

.icon-dabaoyu:before {
  content: "\e866";
}

.icon-tedabaoyu:before {
  content: "\e867";
}

.icon-zhenyu:before {
  content: "\e868";
}

.icon-leizhenyu:before {
  content: "\e869";
}

.icon-zhongxue:before {
  content: "\e86a";
}

.icon-daxue:before {
  content: "\e86b";
}

.icon-baoxue:before {
  content: "\e86c";
}

.icon-zhenxue:before {
  content: "\e86d";
}

.icon-daochu:before {
  content: "\e86e";
}

.icon-daoru:before {
  content: "\e86f";
}

.icon-kaiguan:before {
  content: "\e870";
}

.icon-paigong:before {
  content: "\e871";
}

.icon-bangding:before {
  content: "\e872";
}

.icon-jiebang:before {
  content: "\e873";
}

.icon-dayin:before {
  content: "\e874";
}

.icon-shangpin:before {
  content: "\e875";
}

.icon-zuanshi:before {
  content: "\e876";
}

.icon-xiaoxue:before {
  content: "\e877";
}

.icon-xiaoyu:before {
  content: "\e878";
}

.icon-shuangdong:before {
  content: "\e879";
}

.icon-weifeng:before {
  content: "\e87a";
}

.icon-libary-manage:before {
  content: "\e613";
}

.icon-libary:before {
  content: "\e65b";
}

.icon-libary1:before {
  content: "\e6df";
}

.icon-CSWindowsLibary:before {
  content: "\e6e8";
}

.icon-LibaryApplication:before {
  content: "\e831";
}

.icon-shanchu:before {
  content: "\e77b";
}

.icon-bianji:before {
  content: "\e77c";
}

.icon-kejian:before {
  content: "\e77d";
}

.icon-bukejian:before {
  content: "\e77e";
}

.icon-fuzhi:before {
  content: "\e77f";
}

.icon-queren:before {
  content: "\e780";
}

.icon-quxiao:before {
  content: "\e781";
}

.icon-sousuo:before {
  content: "\e782";
}

.icon-rili:before {
  content: "\e784";
}

.icon-shangchuan:before {
  content: "\e785";
}

.icon-xiazai:before {
  content: "\e786";
}

.icon-saoyisao:before {
  content: "\e787";
}

.icon-shaixuan:before {
  content: "\e788";
}

.icon-diancai:before {
  content: "\e789";
}

.icon-dianzan:before {
  content: "\e78a";
}

.icon-shuaxin:before {
  content: "\e78c";
}

.icon-quanping:before {
  content: "\e78e";
}

.icon-shouqi:before {
  content: "\e78f";
}

.icon-xiaoxi:before {
  content: "\e790";
}

.icon-xinxi:before {
  content: "\e792";
}

.icon-xihuan:before {
  content: "\e794";
}

.icon-jiesuo:before {
  content: "\e796";
}

.icon-suoding:before {
  content: "\e797";
}

.icon-fenlei:before {
  content: "\e79b";
}

.icon-liebiao:before {
  content: "\e79d";
}

.icon-gengduoshu:before {
  content: "\e79f";
}

.icon-gengduoheng:before {
  content: "\e7a0";
}

.icon-tuichu:before {
  content: "\e7a1";
}

.icon-fenxiang:before {
  content: "\e7a2";
}

.icon-xiangshang-1:before {
  content: "\e7a3";
}

.icon-xiangzuo-1:before {
  content: "\e7a4";
}

.icon-xiangxia-1:before {
  content: "\e7a5";
}

.icon-xiangyou-1:before {
  content: "\e7a6";
}

.icon-xiangxia-2:before {
  content: "\e7a7";
}

.icon-xiangzuo-2-2:before {
  content: "\e7a8";
}

.icon-xiangshang-2:before {
  content: "\e7a9";
}

.icon-xiangzuo-2:before {
  content: "\e7aa";
}

.icon-xiangxia-3:before {
  content: "\e7ab";
}

.icon-xiangshang-3:before {
  content: "\e7ac";
}

.icon-xiangzuo-3:before {
  content: "\e7ad";
}

.icon-xiangyou-3:before {
  content: "\e7ae";
}

.icon-xiangxia-4:before {
  content: "\e7af";
}

.icon-xiangzuo-4:before {
  content: "\e7b0";
}

.icon-xiangshang-4:before {
  content: "\e7b1";
}

.icon-xiangyou-4:before {
  content: "\e7b2";
}

.icon-shanchu2:before {
  content: "\e7b3";
}

.icon-xiayibu:before {
  content: "\e7b4";
}

.icon-shangyibu:before {
  content: "\e7b5";
}

.icon-shoucang:before {
  content: "\e7b6";
}

.icon-zengjia:before {
  content: "\e7b7";
}

.icon-jianshao:before {
  content: "\e7b8";
}

.icon-shijian:before {
  content: "\e7b9";
}

.icon-qita:before {
  content: "\e7ba";
}

.icon-tishi:before {
  content: "\e7bb";
}

.icon-zhanghao:before {
  content: "\e7bc";
}

.icon-yiwen:before {
  content: "\e7bd";
}

.icon-zhengque:before {
  content: "\e7be";
}

.icon-cuowu:before {
  content: "\e7bf";
}

.icon-jinzhi:before {
  content: "\e7c0";
}

.icon-renminbi:before {
  content: "\e7c1";
}

.icon-meiyuan:before {
  content: "\e7c2";
}

.icon-kuaile:before {
  content: "\e7c3";
}

.icon-beishang:before {
  content: "\e7c4";
}

.icon-zhongzhi:before {
  content: "\e7c5";
}

.icon-fangda:before {
  content: "\e7c6";
}

.icon-suoxiao:before {
  content: "\e7c7";
}

.icon-zanting:before {
  content: "\e7c8";
}

.icon-bofang:before {
  content: "\e7c9";
}

.icon-shiting:before {
  content: "\e7ca";
}

.icon-shoudian:before {
  content: "\e7cb";
}

.icon-dianhua:before {
  content: "\e7cc";
}

.icon-tiaozheng:before {
  content: "\e7cd";
}

.icon-yonghu:before {
  content: "\e7ce";
}

.icon-yuyin:before {
  content: "\e7cf";
}

.icon-yunying:before {
  content: "\e7d0";
}

.icon-guidang:before {
  content: "\e7d1";
}

.icon-bianhao:before {
  content: "\e7d2";
}

.icon-zhangdan:before {
  content: "\e7d3";
}

.icon-renwu:before {
  content: "\e7d4";
}

.icon-xinzengrenwu:before {
  content: "\e7d5";
}

.icon-renwushibai:before {
  content: "\e7d6";
}

.icon-renwuchenggong:before {
  content: "\e7d7";
}

.icon-xinzengdan:before {
  content: "\e7d8";
}

.icon-jiedan:before {
  content: "\e7d9";
}

.icon-paidan:before {
  content: "\e7da";
}

.icon-kaipiao:before {
  content: "\e7db";
}

.icon-lianwang:before {
  content: "\e7dc";
}

.icon-lianjie:before {
  content: "\e7dd";
}

.icon-ditu:before {
  content: "\e7de";
}

.icon-didian:before {
  content: "\e7df";
}

.icon-juli:before {
  content: "\e7e0";
}

.icon-dingwei:before {
  content: "\e7e1";
}

.icon-xinjianduihua:before {
  content: "\e7e2";
}

.icon-bumen:before {
  content: "\e7e3";
}

.icon-fengli:before {
  content: "\e7e4";
}

.icon-kongqizhiliang:before {
  content: "\e7e5";
}

.icon-wendu:before {
  content: "\e7e6";
}

.icon-shidu:before {
  content: "\e7e7";
}

.icon-xiangji:before {
  content: "\e7e8";
}

.icon-kefu:before {
  content: "\e7e9";
}

.icon-yaoqinghan:before {
  content: "\e7ea";
}

.icon-xinde:before {
  content: "\e7eb";
}

.icon-xunzhang:before {
  content: "\e7ec";
}

.icon-zidian:before {
  content: "\e7ed";
}

.icon-yiyuan:before {
  content: "\e7ee";
}

.icon-weixing:before {
  content: "\e7ef";
}

.icon-jiejing:before {
  content: "\e7f0";
}

.icon-diqiu:before {
  content: "\e7f1";
}

.icon-jianzhu-3:before {
  content: "\e7f2";
}

.icon-jianzhu-2:before {
  content: "\e7f3";
}

.icon-shangdian-1:before {
  content: "\e7f4";
}

.icon-jianzhu-5:before {
  content: "\e7f5";
}

.icon-shouye-1:before {
  content: "\e7f6";
}

.icon-shangdian-2:before {
  content: "\e7f7";
}

.icon-shouye-wifi:before {
  content: "\e7f8";
}

.icon-jianzhu-1:before {
  content: "\e7f9";
}

.icon-chenglou:before {
  content: "\e7fa";
}

.icon-shouye-4:before {
  content: "\e7fb";
}

.icon-yinhang:before {
  content: "\e7fc";
}

.icon-jianzhu-6:before {
  content: "\e7fd";
}

.icon-tingzi:before {
  content: "\e7fe";
}

.icon-shouye-3:before {
  content: "\e7ff";
}

.icon-shouye-2:before {
  content: "\e800";
}

.icon-shouye-shezhi:before {
  content: "\e801";
}

.icon-shouye-6:before {
  content: "\e802";
}

.icon-jianzhu-4:before {
  content: "\e803";
}

.icon-shouye-5:before {
  content: "\e804";
}

.icon-zhengfulou:before {
  content: "\e805";
}

.icon-cachu:before {
  content: "\e806";
}

.icon-fanyi:before {
  content: "\e807";
}

.icon-masaike:before {
  content: "\e808";
}

.icon-youchuangkou:before {
  content: "\e809";
}

