.main {
  height: calc(98vh - 2.1rem);
}
.main .main_bar {
  margin: 0.4rem auto;
  background-color: white;
  height: calc(42rem - 2.1rem - 7rem);
  width: calc(100vw - 40px);
  border-width: 2px;
  border-style: solid;
  border-color: #efeff5;
  padding: 0.4rem;
}
.main .main_bar .title {
  font-size: 2rem;
  text-align: center;
}
.main .main_bar s-text-field {
  display: block;
  width: 96%;
  min-height: 3rem !important;
  height: 3rem;
  padding-left: 0.8rem;
  padding-right: 0.8rem;
  margin-top: 0.8rem;
}
.main .main_bar s-button {
  height: 2rem;
  display: block;
  width: 96%;
  margin-left: 0.8rem;
  margin-top: 0.8rem;
  border-radius: 0.2rem;
  text-align: center;
  justify-content: center;
  padding-top: 0.3rem;
  align-items: center;
}
.main .main_bar .login {
  height: 20rem;
}
.main .main_bar .login .forget-pass {
  width: 97%;
  text-align: right;
  padding-top: 0.2rem;
  font-size: 1rem;
}
.main .main_bar .other_login {
  width: 100%;
  margin-top: 1.8rem;
  background-color: #fafafc;
  height: 10rem;
  text-align: center;
}
.main .main_bar .other_login .iconfont {
  font-size: 1.5rem;
  position: relative;
  top: 1.25rem;
  padding: 1rem;
  border-radius: 50%;
  border: 0.042rem #e2e2e8 solid;
}
.main .main_bar .other_login .iconfont:hover {
  cursor: pointer;
  color: #34479c;
  border: 0.042rem #34479c solid;
}
.main_menu .main_bar {
  margin: 0.4rem 0.4rem 0.4rem 0.4rem;
  animation: moveWidth 0.4s;
  width: calc(100vw - 10rem - 1.6rem);
}
@keyframes moveWidth {
  from {
    width: calc(100vw - 0.8rem);
  }
  to {
    width: calc(100vw - 10rem - 1.6rem);
  }
}
