.main {
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  animation: rightToLeft 0.4s;
}
.main .card {
  margin-left: 0.42rem;
  margin-top: 0.42rem;
}
s-menu {
  height: 6rem;
}
s-menu-item {
  height: 4rem;
}
.main_menu {
  height: 100%;
  width: 100%;
  animation: leftToRight 0.4s;
  animation-fill-mode: forwards;
}
.main_menu .card {
  margin-left: 0.42rem;
  margin-top: 0.42rem;
}
#drawer {
  padding-top: 2.1rem;
  height: calc(100vh - 2.1rem);
}
#drawer .bar_text {
  margin-left: 0.42rem;
}
#drawer .setting_title {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.title_icon {
  margin-left: 0.42rem;
}
.menu_bar_show {
  position: fixed;
  background-color: #e9eaf1;
  animation: shortToLong 0.4s;
  margin: 0;
  max-width: 10rem;
  width: 10rem;
  z-index: 200;
}
.menu_bar_hide {
  position: fixed;
  animation: longToShort 0.4s;
}
.icon_hide {
  transform: scale(0);
  transition-duration: 400ms;
}
s-menu {
  background-color: #e9eaf1;
}
s-menu-item {
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
}
s-menu-item:hover {
  background-color: #e9eaf1;
}
@keyframes shortToLong {
  from {
    width: 0;
  }
  to {
    width: 10rem;
  }
}
@keyframes longToShort {
  from {
    width: 10rem;
  }
  to {
    width: 0;
  }
}
@keyframes rightToLeft {
  from {
    margin-left: 10rem;
  }
  to {
    margin-left: 10;
  }
}
@keyframes leftToRight {
  from {
    margin-left: 10;
  }
  to {
    margin-left: 10rem;
  }
}
