.bottombar_hide {
  animation: LongToShort 0.4s;
  animation-fill-mode: forwards;
}
.bottombar {
  position: absolute;
  bottom: 0;
  height: 7rem;
  width: 100%;
  padding: 0.42rem;
  background-color: white;
}
.bottombar .text {
  font-size: 1rem;
  padding-top: 0.42rem;
  margin-top: 0.42rem;
  margin-bottom: 0.2rem;
  text-align: center;
  padding-right: 10rem;
}
.bottombar .text_hide {
  font-size: 1rem;
  padding-top: 0.42rem;
  margin-top: 0.42rem;
  margin-bottom: 0.42rem;
  text-align: center;
}
.bottombar .link {
  display: flex;
  justify-content: center;
  height: 3rem;
  margin-top: 0.1rem;
  text-align: center;
  padding-right: 10rem;
}
.bottombar .link_hide {
  height: 3rem;
  margin-top: 0.1rem;
  text-align: center;
}
.bottombar .split {
  display: inline-flex;
  align-items: center;
  height: 1rem;
  margin: 0.2rem 0.2rem 0 0.2rem;
}
.bottombar .split::before,
.bottombar .split::after {
  height: 1rem;
  line-height: 1rem;
  content: '';
  border-left: solid 0.042rem var(--s-color-outline-variant, black);
}
.bottombar a {
  display: inline-flex;
  align-items: center;
  height: 1rem;
  color: #263473;
}
.bottombar a span {
  height: 1rem;
  font-size: 1rem;
}
@keyframes LongToShort {
  from {
    width: calc(100% - 10rem);
  }
  to {
    width: 100%;
  }
}
