.bottombar {
  animation: LongToShort 0.4s;
  animation-fill-mode: forwards;
}
.bottombar_hide {
  position: absolute;
  bottom: 0;
  height: 7rem;
  width: 100%;
  padding: 0.42rem;
  background-color: white;
}
.bottombar_hide .text {
  padding-top: 0.42rem;
  margin-top: 0.42rem;
  margin-bottom: 0.2rem;
  text-align: center;
  padding-right: 10rem;
}
.bottombar_hide .text_hide {
  padding-top: 0.42rem;
  margin-top: 0.42rem;
  margin-bottom: 0.42rem;
  text-align: center;
}
.bottombar_hide .link {
  margin-top: 0.2rem;
  text-align: center;
  padding-right: 10rem;
}
.bottombar_hide .link_hide {
  margin-top: 0.2rem;
  text-align: center;
}
.bottombar_hide .split {
  margin: 0 0.2rem 0 0.2rem;
}
.bottombar_hide .split::before,
.bottombar_hide .split::after {
  content: '';
  border-left: solid 1px var(--s-color-outline-variant, black);
}
.bottombar_hide a {
  color: #263473;
}
@keyframes LongToShort {
  from {
    width: 100%;
  }
  to {
    width: calc(100% - 10rem);
  }
}
