@import url("../../assets/style.less");

.bottombar_hide{
    animation: LongToShort 0.4s;
    animation-fill-mode: forwards;
}
.bottombar{
    position: absolute;
    bottom: 0;
    height: @bottom-height;
    width: 100%;
    padding: 0.42rem;
    background-color: white;
    .text{
        font-size: 1rem;
        padding-top: 0.42rem;
        margin-top: 0.42rem;
        margin-bottom: 0.2rem;
        text-align: center;
        padding-right: @menu-width;
    }
    .text_hide{
        font-size: 1rem;
        padding-top: 0.42rem;
        margin-top: 0.42rem;
        margin-bottom: 0.42rem;
        text-align: center;
    }
    .link{
        display: flex;
        justify-content: center;
        height: 3rem;
        margin-top: 0.1rem;
        text-align: center;
        padding-right: @menu-width;
    }
    .link_hide{
        height: 3rem;
        margin-top: 0.1rem;
        text-align: center;
    }
    .split{
        display: inline-flex;
        align-items: center;
        height: 1rem;
        margin: 0.2rem 0.2rem 0 0.2rem;
    }
    .split::before,
    .split::after{
        height: 1rem;
        line-height: 1rem;
        content: '';
        border-left: solid 0.042rem var(--s-color-outline-variant, black);
    }
    a{
        display: inline-flex;
        align-items: center;
        height: 1rem;
        span{
            height: 1rem;
            font-size: 1rem;
        }
        color: rgb(38, 52, 115);
    }
}

@keyframes LongToShort {
    from{
        width: calc(100% - @menu-width);
    }
    to{
        width: 100%;
    }
}